main{
    background-color: #8d91b3;
    color: #ECE8EF;
    padding: 10px;
}
nav, .btn{
    background-color: #4d0066;
    color: #ECE8EF;
    /* border-color: #565D93; */
}

body, .card {
    background-color: #ECE8EF;
}
.card{
    color:#2E2E2E
}

h1, h2, nav{
    font-family: 'Oswald', sans-serif;
}

@media screen and (max-width: 768px) {
    main {
        width: 80%;
    }
    .card {
        width:100%;
        padding-bottom: 1rem;
    }
}
